.nav-bar {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
* {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: 'Montserrat';
}
.nav-container {
  background-color: #353d45;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 15px;
  height: 30px;
  align-items: center;
}
.nav-container .spotlogo {
  display: flex;
  padding-left: 15px;
  color: #FFFFFF;
}
.nav-container .navigation {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.nav-container .navigation a {
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width:800px) {
  .nav-container {
    margin-top: 1.4rem;
    color: #FFFFFF;
  }
}
.main-header {
  width: 100%;
  height: 100vh;
  background-color: #000a;
  background-image: url("../img/spotifier_App.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-blend-mode: multiply;
}
.main-header h1 {
  font-size: 6rem;
  color: #FFFFFF;
  margin: 10px 0;
}
.main-header p {
  font-size: 3rem;
  color: #FFFFFF;
}
.info {
  width: 100%;
  height: 300px;
  background: #353d45;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.info .about {
  width: 70%;
  font-size: 3rem;
  text-align: center;
}
.features {
  background: #84bd00;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .featured {
  width: 30%;
}
.features .featured h2 {
  text-align: center;
  font-size: 5rem;
  color: #FFFFFF;
  margin: 10px 0;
}
.features .featured ul {
  list-style-type: circle;
  font-size: 25px;
  color: #FFFFFF;
}
.main-head {
  width: 100%;
  height: 100vh;
  background-image: url("../img/profile-photos/concert.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background: #353d45;
  padding-top: 20px;
  width: 100%;
}
.container h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 3rem;
}
.fa-github {
  color: white;
  font-size: 3rem;
}
.team-members {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.team-members .member {
  width: 25%;
  margin: 20px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
}
.team-members .member .profile-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
footer {
  width: 100%;
  height: 75px;
  background: #353d45;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  color: white;
}
