
// nav bar
.nav-bar{
    font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
text-align: center;
}

// spotifier suggester text

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 75px;
text-align: center;




