// text color 

@lightgray: #E5E5E5;

// background

@green: #5EC273;




// media queries

@tablet: ~"(max-width:900px)";
@small-tablet: ~"(max-width:950px)";
@desktop: ~"(max-width: 1190px)"; 
@mobile: ~"(max-width:800px)";
@small-mobile: ~"(max-width:500px)";