// text color 

@white: #FFFFFF;


// background

@green: #5EC273;
@darkgray: #353D45;




// media queries

@tablet: ~"(max-width:900px)";
@small-tablet: ~"(max-width:950px)";
@desktop: ~"(max-width: 1900px)"; 
@mobile: ~"(max-width:800px)";
@small-mobile: ~"(max-width:500px)";